myFiles/
eGENIEPaperCode/save/
EmpiricalMEC/
RadSamples/
Rad_G2018_NoxBcut/
Rad_G2018_NoxBcut_NoChargedPions/
Rad_G2018_xBcut/
Rad_SuSav2_NoxBcut/
systematics
*.pcm
*_maincxx
*_.cxx
*.so
*.o
*.d
e2a_ep
genie_analysis
